.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.user-list{
  background: red;
  width: 500px;
  margin: 20px;
}

.user-list{
  padding-bottom: 0.5px;
}

.user{
  margin: 2px;
  background: black;
}

.user:hover{
  cursor: pointer;
  background: lightpink;
}

.user-list div:first-child{
  font-weight: bold;
  color: white;
  background: red;
}

/*LOGIN*/
.login{
  background: blue;
  width: 480px;
  padding: 10px;
  display: grid;
}

.login input{
  width: 300px;
  margin: 5px auto;
  font-size: 30px;
}

.login button{
  margin: auto;
  width: 150px;
  height: 30px;
  font-size: 20px;
}
/*LOGIN*/

/*LOGOUT*/
.logout{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  margin: 10px;
  background :lightgray;
  color: black;
}
/*LOGOUT*/

/*CHAT*/
.chat{
  background: gray;
  width: 500px;
  margin: 20px;
}

.chat input{
  width: 300px;
  font-size: 30px;
}
/*CHAT*/

/*MENU*/
  .menu-container{
    display: flex
  }

.menu-element{
  margin: 10px;
  padding: 10px;
  background: gray;
  color: black;
}

.menu-element.active{
  background: white;
}
/*MENU*/

/*GROUP*/
.group{
  border: 2px solid yellow;
}
/*GROUP*/

.users{
  border: 2px solid green;
}

.invites{
  border: 2px solid white;
}

.game-component{
  border: 2px solid coral;
}

.amoba {
  border: 2px solid cyan;
}

.amoba div{
  display: flex;
}

.amoba div div{
  border: 1px solid cyan;
  height: 40px;
  width: 40px;
}

.game-settings{
    border: 2px solid red;
}

