

.friends-logo{
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: lightgray;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    width: 50px;
    height: 40px;
}

.friends-logo:hover{
    transform: scale(1.1);
}

.add-friend-logo{
    position: absolute;
    bottom: 30px;
    right: 90px;
    background: lightgray;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    width: 40px;
    height: 40px;
}

.add-friend-logo:hover{
    transform: scale(1.1);
}

.friends .modal{
    /*background: none!important;*/
}

.friend-list{
    position: absolute;
    bottom: 90px;
    right: 30px;
    background: lightgray;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    max-height: 525px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: white black;
    overflow-y: auto;
}

.friend-card{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    transition: all .2s ease;
}

.friend-card:hover{
    margin-right: 5px;
    cursor: pointer;
}

.friend-state{
    min-width: 20px;
    height: 20px;
    margin-left: 4px;
    border-radius: 50%;
}

.friend-state.online{
    background: rgb(100, 200, 100)
}

.friend-state.offline{
    background: gray;
}

.friend-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.add-new-friend{
    position: fixed;
    margin: auto;
    background: gray;
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

.add-new-friend.filled{
    background: lightgrey;
}


.add-new-friend.filled{
    cursor: pointer;
}

.add-new-friend .plus-sign{
    transition: all .3s ease;
}

.add-new-friend.filled:hover .plus-sign{
    transform: scale(.9);
}